<!-- 模板继承 -->
{{extend './_layouts/home.html'}}

<!-- 标题 -->
{{block 'title'}}
  {{'发表留言'}}
{{/block}}

<!-- 头部插槽 -->
{{block 'head'}}
  <link rel="stylesheet" href="/public/css/post.css" />
{{/block}}

<!-- 内容插槽 -->
{{block 'container'}}
  <div class="index-container">
    <div class="container-wrap">
      <div class="page-header">
        <h1 class="text-primary"><a href="/">首页</a> <small>发表留言</small></h1>
      </div>
      <form id="comment">
        <div class="form-group">
          <label for="nickname">你的名字</label>
          <input type="input" name="nickname" class="form-control" id="nickname" required minlength="2" maxlength="10" placeholder="name" />
        </div>
        <div class="form-group">
          <label for="comment">留言内容</label>
          <textarea name="comment" class="form-control" rows="5" class="form-control" id="comment" required minlength="2" maxlength="20"></textarea>
        </div>
        <button type="submit" class="btn btn-default">发表</button>
      </form>
    </div>
  </div>
{{/block}}

<!-- js插槽 -->
{{block 'script'}}
<script>
  // 添加留言
  $('#comment').on('submit', function (e) {
    e.preventDefault()
    var formData = $(this).serialize()
    console.log(formData)
    $.ajax({
      url: '/comment/comments',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data) {
        console.log(data)
        if (data.code !== 0) {
          window.location.href = '/'
        }
      }
    })
  })
</script>
{{/block}}