<!-- 模板继承 -->
{{extend './_layouts/home.html'}}

<!-- 标题 -->
{{block 'title'}}
  {{'首页'}}
{{/block}}

<!-- 头部插槽 -->
{{block 'head'}}
  <link rel="stylesheet" href="/public/css/index.css" />
{{/block}}

<!-- 内容插槽 -->
{{block 'container'}}
  <div class="index-container">
    <div class="container-wrap">
      <div class="wrap-header">
        <div class="header-title">留言板-发表您的留言</div>
        <a class="btn btn-success" type="button" href="/comment">发表留言</a>
      </div>

      {{if comments}}
      <div class="wrap-comment">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>姓名</th>
              <th>留言内容</th>
              <th>时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {{each comments}}
              <tr>
                <td width="100px">{{$index + 1}}</td>
                <td width="200px">{{$value.nickname}}</td>
                <td >{{$value.comment}}</td>
                <td width="160px">{{$value.created_time}}</td>
                <td width="70px">
                  <button type="submit" class="btn btn-default" onclick="deleteComment('{{$value.nickname}}')">删除</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{else}}
      <div class="wrap-empty">
        <span>暂无数据</span>
      </div>
      {{/if}}
    </div>
  </div>
{{/block}}

<!-- js插槽 -->
{{block 'script'}}
  <script>
    // 删除留言
    function deleteComment(name) {
      $.ajax({
        url: '/comment/delComment',
        type: 'post',
        data: { nickname: name },
        dataType: 'json',
        success: function (data) {
          console.log(data)
          if (data.code !== 0) {
            window.location.href = '/'
          }
        }
      })
    }
  </script>
{{/block}}