<!-- 模板继承 -->
{{extend './_layouts/home.html'}}

<!-- 标题 -->
{{block 'title'}}
  {{'首页'}}
{{/block}}

<!-- 头部插槽 -->
{{block 'head'}}
  <link rel="stylesheet" href="/public/css/index.css" />
{{/block}}

<!-- 内容插槽 -->
{{block 'container'}}
  <div class="index-container">
    <div class="container-wrap">
      <div class="wrap-header">
        <div class="header-title">留言板-发表您的留言</div>
        <a class="btn btn-success" type="button" href="/comment">发表留言</a>
      </div>

      {{if comments}}
      <ul class="wrap-group">
        {{each comments}}
        <li class="list-group-item">{{$value.nickname}}说：{{$value.comment}}  <span class="pull-right">{{$value.created_time}}</span></li>
        {{/each}}
      </ul>
      {{else}}
      <div class="wrap-empty">
        <span>暂无数据</span>
      </div>
      {{/if}}
    </div>
  </div>
{{/block}}

<!-- js插槽 -->
{{block 'script'}}
  <script>
    function getCommentList() {
      $.ajax({
        url: '/comments',
        type: 'get',
        success: function (data) {
          console.log(data)
        }
      })
    }
    getCommentList()
  </script>
{{/block}}